# See
# https://docs.requarks.io/install/kubernetes#configuration
# https://github.com/Requarks/wiki/blob/main/dev/helm/values.yaml

# The following should be configurable
image:
  repository: requarks/wiki
  imagePullPolicy: IfNotPresent
  tag: {{ .CustomValues.Image.Tag }}

ingress:
  enabled: true
  className: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    traefik.ingress.kubernetes.io/redirect-entry-point: https
    traefik.ingress.kubernetes.io/redirect-permanent: "true"
    traefik.ingress.kubernetes.io/router.middlewares: wikijs-traefik-vhost-redirect-wikijs@kubernetescrd
  hosts:
    - host: wiki.services.mkz.me
      paths:
        - path: "/"
          pathType: Prefix
    - host: wiki.iop.cx
      paths:
        - path: "/"
          pathType: Prefix
  tls:
    - hosts:
      - wiki.services.mkz.me
      - wiki.iop.cx
      secretName: secret-tls-www

postgresql:
  enabled: false

externalPostgresql:
  ssl: false
  host: postgres-instance.postgres
  port: 5432
  username: wikijs
  database: wikijs
  existingSecret: postgresql
  existingSecretKey: password
